build/
vendor/
coverage/
node_modules/
tmp/
.env
.DS_Store
composer.lock
composer.phar
.phpunit.result.cache
composer.local.json
composer.local.json_
.php-cs-fixer.cache
composer.local.old
pest.log
NOTES.md
